body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  /* #1A1A1F */
}

.nav-white {
  background-color: white;
}

.white-container {
  margin: 0;
  background-color: white;
}

.nav-white-tab {
  display: none;
}

.nav-white .elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  padding: 0 20px;
}

.nav-white .elements .left-open {
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: 5px;
  max-width: min-content;
  /* background-color: aqua; */
}

.m3-line {
  width: 20px;
  height: 2px;
  background-color: #1a1a1f;
  margin: 4px 0;
}

.nav-white .left-open p {
  position: relative;
  /* top: 2px; */
  margin: 0;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 800;
  /* background-color: red; */
}

.nav-white .logo {
  height: 30px;
  width: 30px;
  padding-left: 30px;
  /* margin: 0 auto; */
}

.nav-white .right-mobile {
  display: flex;
  /* padding: 10px; */
  /* background-color: yellow; */
}

.nav-white .right-mobile img {
  width: 16px;
  height: 16px;
  padding: 20px 0;
  /* margin-right: 10px; */
  margin-right: 40px;
  /* background-color: red; */
}

.nav-white .sign-in {
  /* background-color: aqua; */
  padding: 20px 0;
  display: block;
  /* padding-left: 20px; */
  font-size: 14px;
}

.nav-white .elements .left-close {
  display: none;
  /* HAVE TO EDIT PENDING WORK ON THE CROSS BUTTON */
}

.nav-blue {
  background-color: #0078d4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 67px; */
}

.nav-blue .elements {
  padding: 10px 24px;
  /* border: 3px solid white; */
  margin: 5px;
}

.nav-blue .elements p {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}

.banner {
  background-color: #dadee2;
}

.banner .img {
  width: 100%;
}

.banner .img img {
  width: 100%;
}

.banner .elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 14px;
  text-align: center;
  line-height: 1.2;
  /* background-color: tomato; */
}

.banner .elements p.blue-text {
  display: block;
  color: #0062ad;
  padding: 14px;
  margin: 0;
  margin-left: 8px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

.banner .elements h2 {
  margin: 0;
  padding: 0 10px;
  line-height: 1.2;
  font-size: 49px;
  /* background-color: burlywood; */
}

.banner .elements p {
  margin: 18px;
  padding: 0 16px;
  line-height: 1.4;
  font-size: 17px;
  /* background-color: burlywood; */
}

.banner-btns {
  margin: 0 40px;
  margin-bottom: 20px;
  width: 100%;
  /* max-width: 600px; */
}

.banner-btns .get-btn {
  background-color: #0078d4;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 52px;
  margin: 12px 14px;
  border-radius: 4px;
  border: 2px solid #0078d4;
}

.banner-btns .try {
  display: block;
  color: #0078d4;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0;
  margin: 0 14px;
  border-radius: 4px;
  border: 1px solid #0078d4;
}

.on-pre-hybrid {
  /* background-color: yellow; */
  background-color: white;
  align-items: center;
}

.on-pre-hybrid h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  /* margin-top: 10px; */
  padding: 20px;
  padding-top: 60px;
  font-weight: 600;
  line-height: 1.2;
  /* background-color: antiquewhite; */
}

.on-pre-list-item {
  /* background-color: red; */
  margin: 8px 10px;
  /* border: 2px solid black; */
}

.customer-growth {
  /* background-color: white; */
  display: flex;
  margin: 5px;
  padding: 5px 0;
  align-items: center;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 5px;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

.customer-growth img {
  width: 68px;
  height: 68px;
  margin: 5px;
}

.customer-growth .details {
  /* background-color: lavender; */
  padding: 0 10px;
}

.customer-growth .details h4 {
  color: #0062ad;
  padding-right: 10px;
  font-size: 19px;
  /* margin: 10px; */
}

.customer-growth .details p {
  display: none;
}

.on-pre-hybrid .btns {
  padding: 32px;
  padding-bottom: 64px;
  /* background-color: lavender; */
}

.on-pre-hybrid .btns p {
  /* background-color: red; */
  text-align: center;
  /* margin: 0; */
}

.on-pre-hybrid .btns .btn p {
  border: 1px solid #0078d4;
  border-radius: 4px;
  margin: 24px 10px;
  padding-top: 16px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #0078d4;
  font-weight: 600;
}

.azure-products-and-services {
  background-color: #f8f9fa;
}

.azure-products-and-services h4 {
  margin: 0;
  padding: 0 12px;
  padding-top: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  /* background-color: red; */
}

.azure-products-and-services .list {
  padding: 30px 16px;
  /* background-color: red; */
  /* ADJUST THE WIDTH HERE OVERALL FOR THE LIST ITEMS */
}

.azure-products-and-services .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.azure-products-and-services .list li {
  display: block;
  margin: 0;
  padding: 0;
  /* background-color: yellow; */
}

.azure-products-and-services .element-aps {
  display: block;
  margin: 0;
  /* background-color: red; */
}

.element-aps .element-aps-list {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 0;
  border-radius: 4px;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  margin-bottom: 12px;
  /* background-color: azure; */
}

.element-aps .element-aps-list span {
  font-size: 16px;
  padding: 0 16px;
  font-weight: 500;
}

.element-aps .element-aps-list i {
  font-size: 20px;
  padding: 0 20px;
  font-weight: 600;
}

details>summary {
  display: block;
}

.elements-hide-containers {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  justify-content: space-between;
  /* background-color: azure; */
}

.container-elements {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  padding: 30px 20px;
  justify-content: center;
  background-color: white;
  margin: 10px 0;
}

.container-elements img {
  height: 40px;
  width: 40px;
  /* padding: 0 50px; */
  /* background-color: #DADEE2; */
}

.azure-products-and-services .container-elements p {
  text-align: center;
  line-height: 1.4;
  font-size: 14px;
  color: #636268;
  /* background-color: antiquewhite; */
}

.azure-products-and-services .container-elements h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  color: #0062ad;
}

.azure-products-and-services p {
  color: #0062ad;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  /* background-color: antiquewhite; */
}

.azure-products-and-services .lap-img {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: 64px;
}

.azure-products-and-services .lap-img img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
  width: 80%;
  border: 8px solid black;
  border-radius: 8px;
}

.slide-show-section {
  background-color: white;
}

.slide-show-section h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px;
  padding-top: 64px;
  line-height: 1.3;
}

.slide-show-container {
  position: relative;
  margin: auto;
}

.slide-show img {
  display: block;
  margin: 0 auto;
  padding-top: 4px;
}

.slide-show .image-slide {
  width: 100%;
}

.slide-show .text {
  margin: 0;
  display: block;
  background-color: #f8f9fa;
}

.slide-show .text p {
  margin: 0;
  line-height: 1.3;
  font-size: 20px;
  padding: 24px;
  font-weight: 500;
  color: #1a1a1f;
}

.slide-show .text a {
  display: block;
  text-decoration: none;
  color: #0062ad;
  font-weight: 600;
  font-size: 14px;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 30px;
}

.slide-show-dot {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 80px;
  justify-content: space-between;
  /* background-color: yellow; */
}

.slide-show-dot .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #2e2e33;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-show-dot .active {
  background-color: #0078d4;
}

.accelerate-your {
  display: block;
  padding: 80px 0;
  background-color: #f8f9fa;
}

.accelerate-your .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.accelerate-your .container img {
  /* margin: 0 auto; */
  width: 70%;
}

.accelerate-your .container h5 {
  text-align: center;
  padding: 28px 36px;
  padding-bottom: 0px;
  margin: 0;
  line-height: 1.3;
  font-size: 36px;
  /* background-color: yellowgreen; */
}
.accelerate-your .container .btn{
  /* max-width: 240px; */
  padding: 0 40px;

}
.accelerate-your .container .btn p {
  color: #0062ad;
  /* margin: 0; */
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  font-size: 14px;
  text-align: center;
}

.discover {
  background-color: white;
  margin: 0;
  padding-top: 88px;
}

.discover h4 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  padding: 0 20px;
  padding-bottom: 24px;
}

.discover-slider-container {
  position: relative;
  height: 400px;
  margin: 0 10px;
}

.discover-slider {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 99%;
  height: 300px;
  overflow: scroll;
  /* z-index: 34; */
}

.discover-slider::-webkit-scrollbar {
  display: none;
}

.discover-slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  transition: 0s ease-in;
}

.discover-slider .discover-card {
  background: white;
  margin: 10px;
  width: 240px;
  height: 280px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
}

.discover-slider .discover-card .img {
  max-height: 50%;
  max-width: 100%;
}

.discover-slider .discover-card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.discover-slider .discover-card .content {
  padding: 12px;
  /* margin: 0; */
}

.discover-card .content p {
  margin: 0;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 600;
  color: #636268;
}

.discover-card .content a {
  text-decoration: none;
  color: #2e2e33;
  font-size: 14px;
  letter-spacing: 1px;
}

.video-section {
  display: block;
}

.video-section-elements {
  display: none;
}

.video-section-outside {
  display: block;
}

.video-section-outside .outside-container {
  display: inline;
  /* padding: 10px 0; */
}

.video-section-outside .outside-container .container-element {
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
  padding: 20px 8px;
  background-color: #243a5e;
}

.video-section-outside .outside-container .voc-2 {
  background-color: #242429;
}

.video-section-outside .outside-container .voc-3 {
  background-color: #0062ad;
}

.video-section-outside .outside-container .container-element img {
  height: 14%;
  width: 14%;
  margin: 0 20px;
}

.video-section-outside .outside-container .container-element h4 {
  color: #dadee2;
  font-size: 20px;
  margin: 0;
}

.video-section-outside .outside-container .container-element p {
  display: none;
}

footer {
  margin: 0 16px;
}

.social-media-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-media-section .get-azure {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background-color: #eaebec;
  height: 48px;
  min-width: 200px;
  padding: 0 10px;
}

.social-media-section .get-azure svg {
  height: 20px;
  /* padding: 10px; */
}

.social-media-section .get-azure p {
  margin: 0;
  padding-left: 12px;
  color: #4c4c51;
}

.social-media-section .social-media {
  /* position: relative; */
  display: flex;
  /* padding: 0; */
  align-items: center;
  height: 48px;
  min-width: 200px;
  /* border-radius: 4px; */
  /* background-color: yellow; */
}

.social-media-section .social-media svg {
  height: 20px;
  width: 20px;
  padding: 0 12px;
}

.footer-list-container .list {
  display: flex;
  border-radius: 4px;
  background-color: #eaebec;
  padding-left: 20px;
  padding-right: 32px;
  margin: 28px 0;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
}

footer .lang {
  /* background-color: yellow; */
  margin: 24px 0;
  padding: 14px 0;
}

footer .lang p {
  font-size: 12px;
}

footer .lang select {
  padding: 8px;
  border-radius: 0px;
  background-color: white;
  min-width: 200px;
}

footer .copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

footer .copyright span {
  font-size: 12px;
  padding: 14px;
}

footer .copyright .cr-ms-22 {
  font-weight: 600;
}

@media screen and (min-width: 540px) {
  .accelerate-your .container {
    justify-content: left;
  }

  .accelerate-your .container img {
    align-items: center;
  }

  .accelerate-your .container .text-and-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .accelerate-your .container .text-and-btn h5{
    text-align: left;
  }

  .accelerate-your .container .text-and-btn .btn{
    padding-top: 20px;
  }


  .on-pre-hybrid .btn {
    margin: auto;
    max-width: fit-content;
    /* background-color: #2e2e33; */
    /* padding: 8px ; */
  }

  .on-pre-hybrid .btns .btn p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: orange; */
    padding: 12px;
  }
}

@media screen and (min-width: 768px) {
  .nav-white {
    display: none;
  }

  .nav-white-tab {
    display: block;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 16px 0;
  }

  .nav-white-tab .left {
    display: flex;
    align-items: center;
    padding-left: 16px;
  }

  .nav-white-tab .right {
    padding-right: 20px;
  }

  .nav-white-tab .logo {
    display: flex;
    align-items: center;
  }

  .nav-white-tab .logo span {
    font-size: 18px;
    font-weight: 600;
    padding-left: 8px;
  }

  .nav-white-tab .nav-list {
    display: block;
    min-width: fit-content;
    padding: 0 8px;
    /* background-color: yellow; */
  }

  .nav-white-tab .nav-list span {
    font-size: 13px;
    padding: 0 4px;
  }

  .nav-white-tab .search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .nav-white-tab .search img {
    height: 12px;
    width: 12px;
    padding: 4px;
  }

  .nav-white-tab .search p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 8px;
  }

  .nav-white-tab .search .sign-in {
    font-size: 14px;
  }

  .nav-white-tab .right-laptop {
    display: none;
  }

  .on-pre-list-item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
  }

  .on-pre-list-item .list-1 {
    grid-row: 1/3;
    background-image: url(img/accelerate-customers-growth.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .on-pre-list-item {
    max-width: 1320px;
    margin: auto;
    padding: 0 10px;
  }

  .on-pre-hybrid .on-pre-list-item .customer-growth {
    padding: 0;
    margin: 5px;
  }

  .on-pre-hybrid .on-pre-list-item .customer-growth img {
    /* height: auto; */
    width: 30%;

    height: 130px;
  }

  .on-pre-hybrid .on-pre-list-item .list-1 {
    align-items: flex-end;
  }

  .on-pre-hybrid .on-pre-list-item .list-1 img {
    display: none;
  }

  .on-pre-hybrid .on-pre-list-item .details p {
    display: block;
    line-height: 1.5;
  }

  .element-aps-list i {
    display: none;
  }
  .accelerate-your{
    display: flex;
    align-items: center;
  }
  .accelerate-your .container{
    display: grid;
    max-width: 1320px;
    margin: 0 auto;
    grid-template-columns: 330px auto;
    padding: 0 40px;
  }
  .accelerate-your .container img{
    min-width: 300px;
    padding-left: 40px;
  }
  .accelerate-your .container .text-and-btn{
    max-width: 700px;
  }

 .discover-slider-container {
    position: static;
    max-width: 1320px;
    height: auto;
    width: 100%;
    background-color: red;
    margin: 0 auto;
    /* padding: 10px; */
  }
  
  .discover-slider {
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: visible;
    /* z-index: 34; */
  }
  
  .discover-slider::-webkit-scrollbar {
    display: none;
  }
  
  .discover-slider-inner {
    position: relative;
    /* height: 100%; */
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    /* transition: 0s ease-in; */
  }
  
  .discover-slider .discover-card {
    background: white;
    margin: 0;
    width: auto;
    height: 280px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
  }
  
  .discover-slider .discover-card .img {
    max-height: 50%;
    max-width: 100%;
  }
  
  .discover-slider .discover-card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }
  
  .discover-slider .discover-card .content {
    padding: 12px;
    /* margin: 0; */
  }
  
  .discover-card .content p {
    margin: 0;
    padding: 12px 0;
    font-size: 12px;
    font-weight: 600;
    color: #636268;
  }
  
  .discover-card .content a {
    text-decoration: none;
    color: #2e2e33;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
}

@media screen and (min-width: 769px) {
  .banner .elements {
    justify-content: left;
    text-align: left;
    max-width: 665px;
    margin-left: 30px;
    padding-bottom: 20px;
  }

  .banner .elements p.blue-text,
  .banner .elements h2,
  .banner .elements p {
    margin-left: 0;
    padding: 0;
  }

  .banner-btns {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .banner-btns .get-btn {
    padding: 12px 16px;
  }

  .banner-btns .try {
    color: #0078d4;
    padding: 12px 16px;
    margin: 12px 14px;
  }
}

@media screen and (min-width: 961px) {
  .banner {
    background-image: url("https://azurecomcdn.azureedge.net/cvt-022c6b3f5aa15dd5aabc3c381fef132a77ef2d97aecee219f30198d4ea83c327/images/page/home/hero-desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .banner .elements {
    /* background-color: #0062ad; */
    margin: 0;
    padding: 48px 16px;
    max-width: 50%;
  }

  .banner .elements h2 {
    max-width: 80%;
    padding-top: 12px;
  }

  .banner .img {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .nav-white-tab {
    margin: auto;
    max-width: 1320px;
  }

  .nav-white-tab .right {
    display: none;
  }

  .nav-white-tab .right-laptop {
    display: block;
  }

  .right-laptop .container {
    display: flex;
  }

  .right-laptop .container .search {
    background-color: #f8f9fa;
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
    border: 1px solid #747479;
    border-radius: 4px;
  }

  .right-laptop .container .search input {
    border: none;
    background-color: #f8f9fa;
    max-width: 100px;
  }

  .right-laptop .container .search i {
    color: #747479;
  }

  .right-laptop .container .list {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-size: 13px;
  }

  .right-laptop .container .list span {
    padding: 0 8px;
    margin: 0;
  }

  .right-laptop .container .list .green-btn {
    background-color: #89c402;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #747479;
    /* font-weight: 600; */
    /* min-width: 100px; */
  }

}

@media screen and (min-width:1280px) {
  .banner {
    height: 666px;
  }

  .element-container {
    max-width: 1320px;
    margin: auto;
  }

}